---
import { Image } from "astro:assets"
import Layout, { type Props as LayoutProps } from "@layouts/Layout.astro"
import Links, { type Props as LinksProps } from "@components/Links.astro"
import Logo from "@assets/svg/logo.svg"
import Background from "@assets/svg/background.svg"

const lang: LayoutProps["lang"] = ["en", "en-US", "English"]
const title: LayoutProps["title"] = "Linkub"
const description: LayoutProps["description"] = "All links in one place."
const keywords: LayoutProps["keywords"] = "Linkhub, Link, Social, Media, Hub, Landing, Page, Web"
const creator: LayoutProps["creator"] = "Mathis Serrieres Maniecki"
const xCreator: LayoutProps["xCreator"] = "Minarox_"
const themeColor: LayoutProps["themeColor"] = "#0C1136"
const thumbnail: LayoutProps["thumbnail"] = Background

const social: LinksProps["social"] = [
	{
		name: "YouTube",
		url: "https://youtube.com"
	},
	{
		name: "Twitch",
		url: "https://twitch.tv"
	},
	{
		name: "X",
		url: "https://x.com",
		icon: "x-twitter"
	},
	{
		name: "Instagram",
		url: "https://instagram.com"
	},
	{
		name: "GitHub",
		url: "https://github.com"
	},
	{
		name: "Email",
		url: "mailto:contact@example.com",
		icon: "envelope",
		pack: "mdi"
	}
]
---

<Layout lang={lang} title={title} description={description} keywords={keywords} creator={creator} xCreator={xCreator} themeColor={themeColor} thumbnail={thumbnail}>
	<main>
		<header>
			<Image src={Logo} alt={`${title} logo`} width="140" />
			<h1>{title}</h1>
		</header>

		<article>
			<Links social={social} />
		</article>
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-rows: 0.6fr 1fr;
		align-items: center;
		justify-items: center;

		header {
			padding: 1rem;

			img {
				padding: 0.5rem;
			}

			h1 {
				margin: 0;
				font-size: 2em;
				font-weight: 700;
			}
		}
	}
</style>
